* {
	margin: 0 auto;
	padding: 0;
	/*background-color: #6C7B8B;*/

}

#tudo {
	background-image: url(../imgs/bkgd.png);
	background-repeat: repeat-x;
	background-color: #F6F3F3;
	background-position: inherit;
}

#body {
	min-height: 600px;
	width: 960px;
}

#cabecalho {

	padding: 5px;
	margin-bottom: 5px;
	height: 100px;
	border: 1px solid #CCCCCC;
	background-image: url(../imgs/bg.png);
	background-repeat: repeat-x;
}
#container {
	min-height: auto;
	width: 1000px;
	border: 1px solid #cccccc;
	/*background-color:#F2F2F2;*/
	background-color: #F2F2F2;
}

#header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18pt;
	height: 45px;
	width: 100%;
	text-align: center;
	padding: 10px 0 0 0;
}
#subheader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: rgba(255,255,255,1);
	font-size: 10pt;
	height: auto;
	width: 100%;
	text-align: right;
	padding: 0 0 0 0;
	
}

#topo {
	width: 766px;
	height: 50px auto !important;
	padding: 3px 0 0 0;
	background-color: #6C7B8B;
	clear: both;
	color: white;
	background-image: url(../imgs/bg.png);
	background-repeat: repeat-x;
}
#rodape {
	padding: 5px;
	bottom: 0;
	height: 38px;
	background-color: #003B6F;
	background-image: url(../imgs/rodape.png);
	background-repeat: no-repeat;
	background-position: center;
	clear: both;
}

#colCentral {
	background: #22232F;
	color: #991;
	padding: 2px 10px;
	background-color: white;
	width: 746px;
	height: 600px;
}
#cabecalho-logo {
	padding: 5px;
	margin-bottom: 5px;
	height: 100px;
	width: 90px;
	background-image: url(../imgs/logo.png);
	background-position: left;
	background-repeat: no-repeat;
	float: left;
}

#cabecalho-texto {
	padding: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	background-position: left;
	background-repeat: no-repeat;
	width: 800px;
	height: 80px;
	float: left;
}
.textoGoverno {
	color: #E4E4E4;
	font: bold 14px  'Times New Roman';
	text-align: left;
	vertical-align: middle;
	margin-top: 2px;
	margin-left: 2px;
	line-height: 5px;
}

.textoVersao {
	color: #E4E4E4;
	font: bold 10px  'Times New Roman';
	text-align: left;
	vertical-align: middle;
	margin-top: 2px;
	margin-left: 2px;
	line-height: 5px;
}


.textoSistema {
	color: #E4E4E4; 
	font-family: arial;
	font-weight: bold; 
	font-size: 19px; 
    text-align: left; 
	vertical-align: middle;
	margin-top: 5px;
	margin-left: 0;
	margin-bottom: 5px;
}
#cabecalho-logo {
	padding: 5px;
	margin-bottom: 5px;
	height: 80px;
	width: 90px;
	width: 88px;
	background-image: url(../imgs/logo.png);
	background-position: left;
	background-repeat: no-repeat;
	float: left;
}

.rotulosBold {
	color: #333333;
	font-family: 'Trebuchet MS';
	font-size: 12px;
	font-weight: bold;
	line-height: normal;
	line-height: 12px;
}


.rotulos {
	color: #333333;
	font-family: "Times New Roman";
	font-size: 10px;
	line-height: normal;
	font-weight: bold;
	
}

.semBorda tr,semBorda row,.semBorda td {
	border: none !important;
}

.semBorda2 tr{
	border: none !important;
}


.rowGreen td{
	background-color: rgba(91,183,91,0.3);
}

.rowRed td{
	background-color: rgba(218,79,73,0.3);;
}

.rowGreen td:hover{
	background-color: rgb(91,183,91);
}

.rowRed td:hover{
	background-color: rgb(218,79,73);
	
}



.button {
	background-color: #15c6db !important;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.button:hover {
	background-color: #68dcea !important;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	
}

.button:active{
	
	background-color: #f89928 !important;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	

}

.t .ui-corner-all{
	
	font:"Arial Black";
	font-size: larger;
	color: #FFFFFF;
	
}


 .ui-datatable table {
    color: #333333;
    font-family: "Times New Roman";
    font-size: 12px;
    line-height: normal;
    line-height: 10px;
}

.ui-datatable .ui-datatable-header,.ui-datatable .ui-datatable-footer {
    color: #333333;
    font-family: "Times New Roman";
    font-size: 12px;
    line-height: normal;
    line-height: 10px;
}

.ui-datatable .ui-datatable-header {
    color: #333333;
    font-family: "Times New Roman";
    font-size: 12px;
    line-height: normal;
    line-height: 10px;
}

.ui-datatable th,.ui-datatable tfoot td {
    color: #333333;
    font-family: "Times New Roman";
    font-size: 12px;
    line-height: normal;
    line-height: 10px;
}

.ui-datatable .ui-datatable-data td,.ui-datatable .ui-datatable-data-empty td
    {
    color: #333333;
   	font-family: "Times New Roman";
    font-size: 12px;
    line-height: normal;
    line-height: 10px;
}


#cabecalho-texto {
	padding: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	background-position: left;
	background-repeat: no-repeat;
	width: 500px;
	width: 488px;
	float: left;
}

.ui-icon.unlock2 {
	margin: -12px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-position: 0 0 !important;
	width: 24px;
	height: 24px;
	background-image: url("../imgs/unlock3.png") !important;
}


.ui-icon.alert2 {
	
	background-image: url("../imgs/alert2.png") !important;
} 

#titulo-page{
	font-family: "Times New Roman";
}

.btLogin {
	min-width: 100px;
	margin: 10px 0px 0px 0px;
	text-align: center;
	height: 30px;
}

.ui-widget button.ui-state-default.bt-conf{
	color: #ffffff;
  	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  	background-color: #5bb75b;
 	 *background-color: #51a351;
 	 background-image: -moz-linear-gradient(top, #62c462, #51a351);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  	background-image: -webkit-linear-gradient(top, #62c462, #51a351);
 	background-image: -o-linear-gradient(top, #62c462, #51a351);
  	background-image: linear-gradient(to bottom, #62c462, #51a351);
  	background-repeat: repeat-x;
  	border-color: #51a351 #51a351 #387038;
  	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	
}


.ui-widget button.ui-state-default.bt-conf:hover,
.ui-widget button.ui-state-default.bt-conf:focus,
.ui-widget button.ui-state-default.bt-conf:active,
.ui-widget button.ui-state-default.bt-conf.active,
.ui-widget button.ui-state-default.bt-conf.disabled,
.ui-widget button.ui-state-default.bt-conf[disabled] {
  color: #ffffff;
  background-color: #51a351;
  *background-color: #499249;
}

.ui-widget button.ui-state-default.bt-conf:active,
.ui-widget button.ui-state-default.bt-conf.active {
  background-color: #408140 \9;
}


.ui-widget button.ui-state-default.bt-cancel{
	color: #ffffff;
  	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  	background-color: #da4f49;
  	*background-color: #bd362f;
  	background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  	background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
 	background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	
}

.ui-widget button.ui-state-default.bt-cancel:hover,
.ui-widget button.ui-state-default.bt-cancel:focus,
.ui-widget button.ui-state-default.bt-cancel:active,
.ui-widget button.ui-state-default.bt-cancel.active,
.ui-widget button.ui-state-default.bt-cancel.disabled,
.ui-widget button.ui-state-default.bt-cancel[disabled] {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
}

.ui-widget button.ui-state-default.bt-cancel:active,
.ui-widget button.ui-state-default.bt-cancel.active {
  background-color: #942a25 \9;
}


.ui-button.ui-state-active.w {
	color: #ffffff;
  	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  	background-color: #da4f49;
  	*background-color: #bd362f;
  	background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  	background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
 	background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.ui-picklist .ui-picklist-source {
	width:320px;
	height: 260px;
}

.ui-picklist .ui-picklist-target {
	width: 320px;
	height: 260px;
}

.pick .ui-picklist-source,.pick .ui-picklist-target {
	width: 280px;
	height: 260px;
}

.ui-picklist .ui-picklist-list {
	list-style-type: none;
	margin-top: 3px;
	overflow: auto;
	padding: 0;
	font: bold;
	font-size: 12px;
	font-family: serif;
}

.seta-top{
	width: 0; 
	height: 0; 
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 12px solid #f1efef;
	position: absolute;
	top : -10px;
	left :	5%;
	
	
}

.ui-overlaypanel {
	border: 1px solid white !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	padding: 0.5em 1em;
	position: absolute;
	top: 240px !important;
	left :61.5% !important;
	color: #AD6704;
}


.ui-overlaypanel.my-overlay {
	border: 1px solid white !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	padding: 0.5em 1em;
	background: #f1efef;
	top: 305px !important;
	left :27% !important;
	color: #000000;
}


#imageBtn {
	margin-bottom: 10px;
}

.user-area {
	height: 500px;
}


.user-area-2 {
	height: 100%;
	width: 100%;

}

#new-user{
	height: 80px;
	width: 50%;
	background: #5bb75b;
	float: left;
}

#area-new-user{
	height: 80%;
	width: 47.7%;
	border-right: black 1px solid;
	border-bottom: #5bb75b 2px solid;
	border-left: #5bb75b 2px solid;
	margin-left: 2%;
	float: left;
}

#alter-user{
	height: 80px;
	width: 50%;
	background: #da4f49;
	float: right;
}

#area-alter-user{
	height: 80%;
	width: 47.7%;
	border-left: black 1px solid;
	border-bottom: #da4f49 2px solid;
	border-right: #da4f49 2px solid;
	margin-right: 2%;
	float: right;
}


.modelGrid td {
	border: none !important;
}

.modelGrid table , .modelGrid tr {
	
	color: #ffffff;
  	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  	background-color: #006dcc;
  	*background-color: #0044cc;
  	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  	background-repeat: repeat-x;
  	border-color: #0044cc #0044cc #002a80;
  	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.modelGrid:hover tr{
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
