/*
    Author: Emerson Gama
    Since: 05/03/2014
*/

.ui-picklist .ui-picklist-source {
    width: 380px;
    height: 260px;
}

.ui-picklist .ui-picklist-target {
    width: 380px;
    height: 260px;
}

.pick .ui-picklist-source, .pick .ui-picklist-target {
    width: 240px;
    height: 260px;
}

.ui-picklist .ui-picklist-list {
    list-style-type: none;
    margin-top: 3px;
    overflow: auto;
    padding: 0;
    font-size: 12px;
    font-family: serif;
}