/*
    Author: Emerson Gama & Jerônimo do Nascimento
    Since: 09/10/2014
*/

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    //vertical-align: baseline;
}

/* HTML5 display-role reset para navegadores antigos */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    line-height: 1;
    font-size: 12px !important;
    font-weight: normal !important;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Fim CSS Reset */

html {
    height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

.wrapper {
    width: 100%;
    min-width: 1000px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
    height: 100px;
    background: #004a77 !important;
    color: white;
    font-weight: bold;
}

.logo {
    float:left;
    display: block !important; 
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 86px !important;
    height: 86px !important;
    position: absolute;
}

.versao {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
    font-weight: bold;   
    text-align: right;
}

.headerText {
    float: left;
    position: absolute;
    margin-left: 86px;
    padding-top: 10px;
}

/* Middle
-----------------------------------------------------------------------------*/
.content {
    padding: 0 0 100px;
}

.avisos {
    width: 400px;
    margin-top: 10px;
    padding: 10px;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
    margin: -30px auto 0;
    min-width: 1000px;
    height: 30px;
    background: #004a77 !important;
    position: relative;
}

.connect {
    float: left;
    display: inline-block;  
    padding-top: 7px;
    padding-left: 7px;
}

.direito {
    float: right; 
    padding-top: 7px;    
    padding-right: 7px;    
    color: white;
}

/* Conf. PrimeFaces
-----------------------------------------------------------------------------*/
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    color: #000000;
}

.ui-widget {
    font-size: 12px !important;
    font-weight: normal !important;
}

.ui-menu .ui-menu-parent .ui-menu-child { 
    width: 230px;
}

.semBorda tr,semBorda row,.semBorda td {
    border: none !important;
}

.logo {
    width: 64px;
    height: 64px;
}

/* .menu {
    border-radius: 0 0 0 0;
    margin-bottom: 20px;
} */

/* Vamu ver
-----------------------------------------------------------------------------*/
.sistemas {
    //font-size: 62.5%;
    width: 1178px;
    //width: auto;
    //height: 800px;
    height: 600px;
    //height: auto;
    margin: 30px auto 20px auto;
    padding-left: 1.315789474%;
    text-align: center;
    float:  none;
}

.sistemas-opc {
    //background-color: #f0ffff !important;
    background-color: #eeeeee !important;
    font-size: 12px !important;
    font-weight: bold !important;
    height: 200px !important;
}

.sistemas-opc-bt {
    background-color: #eeeeee !important;
    font-size: 12px !important;
    font-weight: bold !important;
    margin-top: -21px;
}

.badge-receber {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color:#FF4500;
    border-radius: 10px
}

.badge-tramitar {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color:#00EE00;
    border-radius: 10px
}

.ui-datatable table {
    color: #333333;
    font-family: 'Trebuchet MS';
    font-size: 10px;
    line-height: normal;
    line-height: 10px;
}

.ui-datatable .ui-datatable-header, .ui-datatable .ui-datatable-footer {
    color: #333333;
    font-family: 'Trebuchet MS';
    font-size: 10px;
    line-height: normal;
    line-height: 10px;
}

.ui-datatable .ui-datatable-header {
    color: #333333;
    font-family: 'Trebuchet MS';
    font-size: 10px;
    line-height: normal;
    line-height: 10px;
}

.ui-datatable th, .ui-datatable tfoot td {
    color: #333333 !important;
    font-family: 'Trebuchet MS' !important;
    font-style: italic !important;
    font-size: 12px !important;
    line-height: normal !important;
    line-height: 15px !important;
}

.ui-datatable .ui-datatable-data td, .ui-datatable .ui-datatable-data-empty td {
    color: #333333;
    font-family: 'Trebuchet MS';
    font-size: 10px;
    line-height: normal;
    line-height: 10px;
}

.menu {
    color: #F0FFFF;
    background-color: #F0FFFF;
    background: #F0FFFF;
    border-radius: 0 0 0 0;
}

.edit {
    border: 1pxt;
    background-color: #FFFFFF;
    font-family: 'Trebuchet MS';
    font-size: 12px;
    color: #333333;
}

.edit:focus {
    background-color: #fafae6;
}

.combo {
    background-color: #FFFFFF;
    font-family: 'Trebuchet MS';
    font-size: 12px;
    color: #333333;
    border-top: none !important;
}

.combo:focus {
    background-color: #fafae6;
}

.rotulos {
    color: #333333;
    font-family: 'Trebuchet MS';
    font-size: 12px;
    line-height: normal;
}

.rotulosBold {
    color: #333333;
    font-family: 'Trebuchet MS';
    font-size: 12px;
    font-weight: bold;
    line-height: normal;
    line-height: 12px;
}

.legend {
    color: #666666;
    font-family: 'Trebuchet MS';
    font-size: 12px;
    line-height: normal;
    line-height: 10px;
}

.legendBold {
    color: #666666;
    font-family: 'Trebuchet MS';
    font-size: 12px;
    font-weight: bold;
    line-height: normal;
    line-height: 10px;
}

.fonteForm {
    color: #333333;
    font-family: 'Trebuchet MS';
    font-size: 10px;
    line-height: normal;
    line-height: 10px;
}

.fonteGreen {
    color: #006400;
    font-family: 'Trebuchet MS';
    font-size: 10px;
    line-height: normal;
    font-weight: bolder;
    line-height: 10px;
}

.fonteRed {
    color: #FF0000;
    font-family: 'Trebuchet MS';
    font-size: 10px;
    line-height: normal;
    font-weight: bolder;
    line-height: 10px;
}

.fonteBlue {
    color: #3299CC;
    font-family: 'Trebuchet MS';
    font-size: 10px;
    line-height: normal;
    font-weight: bolder;
    line-height: 10px;
}

.fonteLightBlue {
    color: #CCFFFF;
    font-family: 'Trebuchet MS';
    font-size: 10px;
    line-height: normal;
    font-weight: bolder;
    line-height: 10px;
}

.textoAviso {
    color: #666666;
    font: 14px 'Trebuchet MS', 'Tahoma', 'Arial', 'Verdana';
    font-weight: bold;
}

.textoAviso2 {
    font: 16 px 'Trebuchet MS', 'Tahoma', 'Arial', 'Verdana';
    font-weight: bold;
    margin-top: -0px;
}

.legendBlue {
    color: #330099;
    font-family: 'Trebuchet MS';
    font-size: 12px;
    line-height: normal;
    line-height: 10px;
    font-weight: bold;
}

.legendRed {
    color: #CC0000;
    font-family: 'Trebuchet MS';
    font-size: 12px;
    line-height: normal;
    line-height: 10px;
    font-weight: bold;
}
/*-----------ALGUMAS FORMATAÃ‡Ã•ES ESPECIAIS PARA PRIMEFACES---------------------------*/
.ui-menubar {
    font-size: 14px;
}

/* .panelGrid {
    width: 33%;
    border: silver 1 px solid !important;
}

.even {
    font-family: Times New Roman, serif;
    font-size: 18px;
    color: black;
    background-color: white;
    text-indent: 20px;
}

.odd {
    font-family: Times New Roman, serif;
    font-size: 18px;
    color: white;
    background-color: black;
    text-indent: 20px;
}

.mainTable {
    margin-left: auto;
    margin-right: auto;
}

.caption1 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: blue;
}

.caption2 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: red;;
}

.heading {
    font-family: arial;
    font-size: 12px;
    color: black;
    background-color: #FFC1C1;
    text-align: center;
}

/* DefiniÃ§Ãµes CSS do primefaces ... */
.painelteste {
    padding: 0px;
}

.btLogin {
    min-width: 100px;
    margin: 10px 0px 0px 0px;
    text-align: center;
    height: 30px;
}

.btImgComTexto {
    top: 0px;
    left: 0px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-position: left !important;
    background-repeat: no-repeat !important;
    background-image: url("../imgs/lupinha2.png") !important;
    text-align: right;
    width: 100px;
}

/* Definicoes das imagens... */


.fonte-panel {
    font-size: 12px;
    font-weight: bold;
    font: arial;
}

.ui-panelgrid {
    border: none !important;
}

.ui-datagrid-column {
    border: none;
}

/*
.ui-picklist .ui-picklist-source {
    width: 420px;
    height: 260px;
}

.ui-picklist .ui-picklist-target {
    width: 420px;
    height: 260px;
}

.pick .ui-picklist-source, .pick .ui-picklist-target {
    width: 280px;
    height: 260px;
}

.ui-picklist .ui-picklist-list {
    list-style-type: none;
    margin-top: 3px;
    overflow: auto;
    padding: 0;
    font: bold;
    font-size: 12px;
    font-family: serif;
}*/

.ui-datagrid {
    border: none;
}

li.ui-selectonemenu-item {
    font-size: 12px;
}

#myDialogId.ui-panel .ui-panel-titlebar {
    display: none !important;
}

.tabela {
    width: 100%;
    height: 100%;
}

.ui-datatable-hor-scroll .ui-datatable-tablewrapper, .scrolling-div .ui-datatable-tablewrapper {
    overflow: auto;
    width: 100%;
    height: 100%;
    padding-bottom: 5px;
}

.yourCustomSelector .ui-datatable .ui-datatable-data tr {
    height: 100px;
}

.process_msg .ui-dialog .ui-dialog-titlebar {
    display: none !important;
}

/*               RODAP�                   */
/* .clearfix {
    width: 960px;
    margin: 0 auto;
}

.clearfix:after {
    clear: both;
    content: "";
    display: block;
    line-height: 0;
    height: 1%;
    visibility: hidden;
}

.myLabel .ui-outputlable {
    color: blue;
}
#table2 {
    width: 100%;
    font-size: 1em;
} */


.rowGreen td {
    background-color: rgba(91, 183, 91, 0.3);
}

.rowRed td {
    background-color: rgba(218, 79, 73, 0.3);;
}

.rowBlue td {
	background-color: rgba(50, 153, 204, 0.3);
}

.rowLightBlue td {
	background-color: rgba(204, 255, 255, 0.3);
}

.coluna {
    height: 44.736842104%;
    width: 23.684210526%; /* 177.5px / 760px */
    margin-right: 1.315789474%; /*10 / 760px */
    /*margin-left: -1.315789474%;  10 / 760px */
    margin-bottom: 1.315789474%; /*10 / 760px */
    margin-top: 1.315789474%; /*10 / 760px */
    float: left;
}

.coluna:hover {
    height: 44.736842104%;
    width: 23.684210526%; /* 177.5px / 760px */
    margin-right: 1.315789474%; /*10 / 760px */
    margin-bottom: 1.315789474%; /*10 / 760px */
    margin-top: 1.315789474%; /*10 / 760px */
    float: left;
    border: #4096ee 1px solid;
}

.coluna:last-child {
    margin-right: 0;
}

.link-sistema {
    font-size: 1.8em;
    height: 15%;
    width: 100%;
    background: #4096ee;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.link-sistema:hover {
    font-size: 1.8em;
    height: 15%;
    width: 100%;
    background: #004A77;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.link-sistema a {
    color: #ffffff !important;
}

.img-sistema {
    background: #FF6707;
    width: 100%;
    height: 60%;
}

.img-sistema img, picture, video, embed {
    width: 100%;
    height: 100%;
}

.desc-sistema {
    font-size: 1.6em;
    background: #F9efef;
    width: 100%;
    height: 25%
}

.ui-fieldset .ui-state-default {
    font-size: 12px;
}


/* Icons
-----------------------------------------------------------------------------*/

.ui-icon.extornar{
    background-image: url("../imgs/extornar.png") !important;   	
}

.ui-icon.servidor{
    background-image: url("../imgs/rich.png") !important;   	
}
.ui-icon.orderby{
    background-image: url("../imgs/orderby.png") !important;   	
}

.ui-icon.historico-ats{
    background-image: url("../imgs/historico_ats.png") !important;   	
}

.ui-icon.buscar-nw{
    background-image: url("../imgs/lupinha16.png") !important;   	
}

.ui-icon.btlogout{
    background-image: url("../imgs/logout.png") !important;   	
}
.ui-icon.btdigitar{
    background-image: url("../imgs/digit.png") !important;   	
}
.ui-icon.btexcluir{
    background-image: url("../imgs/trash2.png") !important;   	
}
.ui-icon.editar{
    background-image: url("../imgs/editar24.png") !important;   	
}
.ui-icon.newuser{
    background-image: url("../imgs/newuser.png") !important;   	
}
.ui-icon.relatorio{
    background-image: url("../imgs/report2.png") !important;   	
}
.ui-icon.ok{
    background-image: url("../imgs/btok.png") !important;   	
}
.ui-icon.no{
    background-image: url("../imgs/btno.png") !important;   	
}
.ui-icon.find{
    background-image: url("../imgs/find16.png") !important;   	
}
.ui-icon.find2{
    background-image: url("../imgs/find16.png") !important;   	
}
.ui-icon.trash{
    background-image: url("../imgs/trash16.png") !important;   	
}
.ui-icon.concluir{
    background-image: url("../imgs/concluirProcesso2.png") !important;   	
}
.ui-icon.novoProcesso{
    background-image: url("../imgs/novo.png") !important;   	
}

/* --------------------------------------------------------------------------- */
.ui-icon.anexos-at {
    background-image: url("../imgs/anexos_at.png") !important;
}

.ui-icon.laudo-at {
    background-image: url("../imgs/laudo_at.png") !important;
}

.ui-icon.download-arq {
    background-image: url("../imgs/download-ic16.png") !important;
}

.ui-icon.imprel {
    background-image: url("../imgs/printer2.png") !important;
}

.ui-icon.anterior {
    background-image: url("../imgs/anterior.png") !important;
}

.ui-icon.proximo2 {
    background-image: url("../imgs/proximo.png") !important;
}

.ui-icon.excluir-dados {
    background-image: url("../imgs/excluir_dados16.png") !important;
}

.ui-icon.alterar-dados {
    background-image: url("../imgs/editar_dados16.png") !important;
}

.ui-icon.alterar-senha {
    background-image: url("../imgs/alterar_senha.png") !important;
}

.ui-icon.entrar {
    background-image: url("../imgs/entrar.png") !important;
}

.ui-icon.sair {
    background-image: url("../imgs/sair.png") !important;
}

.ui-icon.confirmar {
    background-image: url("../imgs/confirmar.png") !important;
}

.ui-icon.cancelar {
    background-image: url("../imgs/cancelar.png") !important;
}

.ui-icon.fechar {
    background-image: url("../imgs/fechar.png") !important;
}

.ui-icon.novo {
    background-image: url("../imgs/novo.png") !important;
}

.ui-icon.limpar {
    background-image: url("../imgs/limpar.png") !important;
}

.ui-icon.enviar-email {
    background-image: url("../imgs/enviar_email.png") !important;
}

.ui-icon.imp-rel {
    background-image: url("../imgs/impressora.png") !important;
}

.ui-icon.recibo {
	background-image: url("../imgs/report.png") !important;
}

.ui-icon.podeGravar {
    top: 2px;
    left: 0px;
    margin: 5px 0px 0px 5px;
    background-position: 0 0 !important;
    width: 60px;
    height: 40px;
    background-image: url("../imgs/confirma.png") !important;
}

.ui-icon.close {
    background-image: url("../imgs/close.png") !important;
}

.ui-icon.talk {
    background-image: url("../imgs/talk.png") !important;
}

.ui-icon-editUser {
    background: url("..imgs/editUser.png") !important;
}

.ui-icon.btSoImagemBuscar {
    top: 0px;
    left: 0px;
    margin: 2px 0px 0px 2px;
    background-position: 0 0 !important;
    width: 60px;
    height: 40px;
    background-image: url("../imgs/lupinha.png") !important;
}

.ui-icon.buscaProcess {/*top: 0px; left: 0px;
         margin:  5px 0px 0px 3px; */
    margin: -12px 0px 0px -12px;
    padding: 0px 0px 0px 0px;
    background-position: 0 0 !important;
    width: 24px;
    height: 24px;
    background-image: url("../imgs/lupinha2.png") !important;
}

.ui-icon.receber2 {/*top: 0px; left: 0px;
         margin:  5px 0px 0px 3px; */
    margin: -12px 0px 0px -12px;
    padding: 0px 0px 0px 0px;
    background-position: 0 0 !important;
    width: 24px;
    height: 24px;
    background-image: url("../imgs/receber2.png") !important;
}

.ui-icon.apenso {/*top: 0px; left: 0px;
         margin:  5px 0px 0px 3px; */
    margin: -12px 0px 0px -12px;
    padding: 0px 0px 0px 0px;
    background-position: 0 0 !important;
    width: 24px;
    height: 24px;
    background-image: url("../imgs/apenso.png") !important;
}

.ui-icon.btPesquisar {/*top: 0px; left: 0px;
         margin:  5px 0px 0px 3px; */
    margin: -11px 0px 0px -10px;
    padding: 0px 0px 0px 0px;
    background-position: 0 0 !important;
    width: 24px;
    height: 24px;
    background-image: url("../imgs/lupinha2.png") !important;
}

.ui-icon.btTramita {/*top: 0px; left: 0px;
         margin:  5px 0px 0px 3px; */
    margin: -10px 0px 0px -10px;
    padding: 0px 0px 0px 0px;
    background-position: 0 0 !important;
    width: 24px;
    height: 24px;
    background-image: url("../imgs/old_go_next.png") !important;
}

.ui-icon.btStart {/*top: 0px; left: 0px;
         margin:  5px 0px 0px 3px; */
    margin: -12px 0px 0px -5px;
    padding: 0px 0px 0px 0px;
    background-position: 0 0 !important;
    width: 24px;
    height: 24px;
    background-image: url("../imgs/start.png") !important;
}

.ui-icon.btStop {/*top: 0px; left: 0px;
         margin:  5px 0px 0px 3px; */
    margin: -12px 0px 0px -5px;
    padding: 0px 0px 0px 0px;
    background-position: 0 0 !important;
    width: 24px;
    height: 24px;
    background-image: url("../imgs/stop.png") !important;
}

.ui-icon.unlock2 {
    margin: -12px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-position: 0 0 !important;
    width: 24px;
    height: 24px;
    background-image: url("../imgs/unlock3.png") !important;
}

.ui-icon.btvoltar {
    margin: -12px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-position: 0 0 !important;
    width: 24px;
    height: 24px;//
    background-image: url("../imgs/back.png") !important;
    background-image: url("../imgs/voltar.png") !important;
}

.ui-icon.buscaUsuario {/*top: 0px; left: 0px;
         margin:  5px 0px 0px 3px;
         background-position: 0 0 !important;
    */
    width: 16px;
    height: 16px;
    background-image: url("../imgs/pesquisar.png") !important;
}

.ui-icon.estornar1 {/*top: 0px; left: 0px;
         margin:  5px 0px 0px 3px; */
    background-position: 0 0 !important;
    width: 16px;
    height: 16px;
    background-image: url("../imgs/reverse.png") !important;
}

.ui-icon.pdf {
    top: 0px;
    left: 0px;
    margin: 2px 0px 0px 3px;
    background-position: 0 0 !important;
    width: 60px;
    height: 40px;
    background-image: url("../imgs/pdf.png") !important;
}

.ui-icon.delete {
    top: 0px;
    left: 0px;
    margin: 2px 0px 0px 3px;
    background-position: 0 0 !important;
    width: 60px;
    height: 40px;
    background-image: url("../imgs/delete32.png") !important;
}

.ui-icon.endereco {
    top: 0px;
    left: 0px;
    margin: 3px 5px 0px 2px;
    background-position: 0 0 !important;
    width: 16px;
    height: 16px;
    background-image: url("../imgs/endereco.jpg") !important;
    left: 0px;
    margin: 3px 5px 0px 2px;
    background-position: 0 0 !important;
    width: 16px;
    height: 16px;
}

.ui-icon.deleteFav {
    top: 0px;
    left: 0px;
    margin: 2px 0px 0px 4px;
    background-position: 0 0 !important;
    width: 16px;
    height: 16px;
    background-image: url("../imgs/delete.png") !important;
}

.ui-icon.detail {
    /*top: 0px;
    left: 0px;
    margin: 3px 0px 0px 4px;
    background-position: 0 0 !important;
    width: 16px;
    height: 16px;*/
    background-image: url("../imgs/detail.png") !important;
}

.ui-icon.proximo {
    top: 0px;
    left: 0px;
    margin: 2px 0px 0px 3px;
    background-position: 0 0 !important;
    width: 60px;
    height: 40px;
    background-image: url("../imgs/Next-32.png") !important;
}

.ui-icon.director {
    top: 0px;
    left: 0px;
    margin: 1px 5px 0px 0px;
    background-position: 0 0 !important;
    width: 16px;
    height: 16px;
    background: url('../imgs/director.png') !important;
}

.ui-icon.botaoConfirmar {/*top: 0px; left: 0px;
         margin:  5px 0px 0px 3px; */
    background-position: 0 0 !important;
    width: 46px;
    height: 16px;
    background-image: url("../imgs/confirma.png") !important;
}

.ui-icon.cadastroUser {/*top: 0px; left: 0px;
         margin:  5px 0px 0px 3px; */
    background-position: 0 0 !important;
    width: 46px;
    height: 16px;
    background-image: url("../imgs/menuUser.png") !important;
}

.ui-icon.botaoNaoConfirmar {/*top: 0px; left: 0px;
         margin:  5px 0px 0px 3px; */
    background-position: 0 0 !important;
    width: 46px;
    height: 16px;
    background-image: url("../imgs/cancel.png") !important;
}

.ui-icon.favorito {
    top: 0px;
    left: 0px;
    margin: 1px 5px 0px 0px;
    background-position: 0 0 !important;
    background-image: url("../imgs/favorito.png") !important;
}

.ui-icon.anexo {
    top: 0px;
    left: 0px;
    margin: 1px 5px 0px 0px;
    background-position: 0 0 !important;
    background-image: url("../imgs/anexo.png") !important;
}

.ui-icon.imgAnexo {
    top: 0px;
    left: 0px;
    margin: 1px 5px 0px 0px;
    background-position: 0 0 !important;
    width: 60px;
    height: 40px;
    background-image: url("../imgs/anexo2.png") !important;
}

.ui-icon.add {
    top: 0px;
    left: 0px;
    margin: 5px 0px 0px 5px;
    background-position: 0 0 !important;
    width: 16px;
    height: 16px;
    background-image: url("../imgs/add.png") !important;
}

.ui-icon.botaoEditar {
    background-position: 0 0 !important;
    width: 46px;
    height: 16px;
    background-image: url("../imgs/editb.png") !important;
}

.ui-icon.detalhesBtn {
    top: 0px;
    left: 0px;
    margin: 3px 0px 0px 3px;
    background-position: 0 0 !important;
    width: 25px;
    height: 25px;
    background-image: url("../imgs/detalhesBtn.png") !important;
}

.ui-icon.Receber {
    top: 0px;
    left: 0px;
    margin: 3px 0px 0px 3px;
    background-position: 0 0 !important;
    width: 25px;
    height: 25px;
    background-image: url("../imgs/Receber.png") !important;
}

.ui-icon.Excluir {
    top: 0px;
    left: 0px;
    margin: 3px 0px 0px 3px;
    background-position: 0 0 !important;
    width: 25px;
    height: 25px;
    background-image: url("../imgs/excluir.png") !important;
}

.ui-icon.Editar {
    top: 0px;
    left: 0px;
    margin: 3px 0px 0px 3px;
    background-position: 0 0 !important;
    width: 25px;
    height: 25px;
    background-image: url("../imgs/editar.png") !important;
}

.ui-icon.EditText {
    top: 0px;
    left: 0px;
    margin: 3px 0px 0px 3px;
    background-position: 0 0 !important;
    width: 32px;
    height: 32px;
    background-image: url("../imgs/editText.png") !important;
}

.ui-icon.Tramitar {
    top: 0px;
    left: 0px;
    margin: 3px 0px 0px 3px;
    background-position: 0 0 !important;
    width: 25px;
    height: 25px;
    background-image: url("../imgs/tramitar.png") !important;
}

.ui-icon.btnew {/*top: 0px;
         left: 0px;
         margin: 1px 5px 0px 0px;*/
    background-position: 0 0 !important;
    width: 16px;
    height: 16px;
    background-image: url("../imgs/new.png") !important;
}

.ui-icon.mnuReceber {
    top: 0px;
    left: 0px;
    margin: 1px 5px 0px 0px;
    background-position: 0 0 !important;
    width: 16px;
    height: 16px;
    background-image: url("../imgs/mnuReceber.png") !important;
}

.ui-icon.receberExterno {/*top: 0px;
         left: 0px;
         margin: 1px 5px 0px 0px;*/
    background-position: 0 0 !important;
    width: 25px;
    height: 25px;
    background-image: url("../imgs/mnuReceberExterno.png") !important;
}

.ui-icon.mnuReceberNormal {
    top: 0px;
    left: 0px;
    margin: 1px 5px 0px 0px;
    background-position: 0 0 !important;
    width: 16px;
    height: 16px;
    background-image: url("../imgs/mnuReceberNormal.png") !important;
}

.ui-icon.mnuTramitar {
    top: 0px;
    left: 0px;
    margin: 1px 5px 0px 0px;
    background-position: 0 0 !important;
    width: 16px;
    height: 16px;
    background-image: url("../imgs/mnuTramitar.png") !important;
}

.ui-icon.mnuTramitarNormal {
    top: 0px;
    left: 0px;
    margin: 1px 5px 0px 0px;
    background-position: 0 0 !important;
    width: 16px;
    height: 16px;
    background-image: url("../imgs/mnuTnormal.png") !important;
}

.ui-icon.mnuTramitarEstorno {
    top: 0px;
    left: 0px;
    margin: 1px 5px 0px 0px;
    background-position: 0 0 !important;
    width: 16px;
    height: 16px;
    background-image: url("../imgs/mnuEstorno.png") !important;
}

.ui-icon.mnuPararTramite {
    top: 0px;
    left: 0px;
    margin: 1px 5px 0px 0px;
    background-position: 0 0 !important;
    width: 16px;
    height: 16px;
    background-image: url("../imgs/mnuPararTramite.png") !important;
}

.ui-icon.mnuConsultar {
    top: 0px;
    left: 0px;
    margin: 1px 5px 0px 0px;
    background-position: 0 0 !important;
    width: 16px;
    height: 16px;
    background-image: url("../imgs/iconLupa.png") !important;
}

.ui-icon.mnuConsultaNumero {
    top: 0px;
    left: 0px;
    margin: 1px 5px 0px 0px;
    background-position: 0 0 !important;
    width: 16px;
    height: 16px;
    background-image: url("../imgs/graph1.png") !important;
}

.ui-icon.mnuConsultaPorData {
    top: 0px;
    left: 0px;
    margin: 1px 5px 0px 0px;
    background-position: 0 0 !important;
    width: 16px;
    height: 16px;
    background-image: url("../imgs/mnuPorData.png") !important;
}

.ui-icon.mnuManterProcesso {
    top: 0px;
    left: 0px;
    margin: 1px 5px 0px 0px;
    background-position: 0 0 !important;
    width: 16px;
    height: 16px;
    background-image: url("../imgs/mnuManterProcesso.png") !important;
}

.ui-icon.mnuConsultaInteressado {
    top: 0px;
    left: 0px;
    margin: 1px 5px 0px 0px;
    background-position: 0 0 !important;
    width: 16px;
    height: 16px;
    background-image: url("../imgs/mnuUsrInformation.png") !important;
}

.ui-icon.mnuSupport {
    top: 0px;
    left: 0px;
    margin: 1px 5px 0px 0px;
    background-position: 0 0 !important;
    width: 16px;
    height: 16px;
    background-image: url("../imgs/support.png") !important;
}

.ui-icon.mnuFinalizar {
    top: 0px;
    left: 0px;
    margin: 1px 5px 0px 0px;
    background-position: 0 0 !important;
    width: 16px;
    height: 16px;
    background-image: url("../imgs/iconCheck.png") !important;
}

.ui-icon.endereco {
    top: 0px;
    left: 0px;
    margin: 1px 5px 0px 0px;
    background-position: 0 0 !important;
    width: 16px;
    height: 16px;
    background-image: url("../imgs/icone-endereco.png") !important;
}

.ui-icon.mnuInteressados {
    top: 0px;
    left: 0px;
    margin: 1px 5px 0px 0px;
    background-position: 0 0 !important;
    width: 16px;
    height: 16px;
    background-image: url("../imgs/mnuInteressados.png") !important;
}

.ui-icon.mnuInteressadoAdd {
    top: 0px;
    left: 0px;
    margin: 1px 5px 0px 0px;
    background-position: 0 0 !important;
    width: 16px;
    height: 16px;
    background-image: url("../imgs/mnuInteressadoAdd.png") !important;
}

.ui-icon.mnuInteressadoEdit {
    top: 0px;
    left: 0px;
    margin: 1px 5px 0px 0px;
    background-position: 0 0 !important;
    width: 16px;
    height: 16px;
    background-image: url("../imgs/mnuEditInteressado.png") !important;
}

.ui-icon.mnuEtiquetas {
    top: 0px;
    left: 0px;
    margin: 1px 5px 0px 0px;
    background-position: 0 0 !important;
    width: 16px;
    height: 16px;
    background-image: url("../imgs/mnuLabels.png") !important;
}

.ui-icon.mnuRelProcessosAbertos {
    top: 0px;
    left: 0px;
    margin: 1px 5px 0px 0px;
    background-position: 0 0 !important;
    width: 16px;
    height: 16px;
    background-image: url("../imgs/mnuReportOpen.png") !important;
}

.ui-icon.mnuRelProcessosParados {
    top: 0px;
    left: 0px;
    margin: 1px 5px 0px 0px;
    background-position: 0 0 !important;
    width: 16px;
    height: 16px;
    background-image: url("../imgs/mnuRelParados.png") !important;
}

.ui-icon.mnuGerenciamentoUsuario {
    top: 0px;
    left: 0px;
    margin: 1px 5px 0px 0px;
    background-position: 0 0 !important;
    width: 16px;
    height: 16px;
    background-image: url("../imgs/mnuGerenciamento.png") !important;
}

.ui-icon.mnuRelNatureza {
    top: 0px;
    left: 0px;
    margin: 1px 5px 0px 0px;
    background-position: 0 0 !important;
    width: 16px;
    height: 16px;
    background-image: url("../imgs/mnuRelNatureza.png") !important;
}

.ui-icon.mnuPorCPF {
    top: 0px;
    left: 0px;
    margin: 1px 5px 0px 0px;
    background-position: 0 0 !important;
    width: 16px;
    height: 16px;
    background-image: url("../imgs/mnuPorcpf.png") !important;
}

.ui-icon.mnuConsultaAssunto {
    top: 0px;
    left: 0px;
    margin: 1px 5px 0px 0px;
    background-position: 0 0 !important;
    width: 16px;
    height: 16px;
    background-image: url("../imgs/mnuAssunto.png") !important;
}

.ui-icon.mnuManterProcesso2 {
    top: 0px;
    left: 0px;
    margin: 3px 5px 0px 2px;
    background-position: 0 0 !important;
    width: 16px;
    height: 16px;
    background-image: url("../imgs/mnuManterProcesso.png") !important;
}

.ui-icon.naoPodeSalvar {
    top: 0px;
    left: 0px;
    margin: 5px 0px 0px 5px;
    background-position: 0 0 !important;
    width: 60px;
    height: 40px;
    background-image: url("../imgs/cancel.png") !important;
}

.ui-icon.Imprimir {
    top: 0px;
    left: 0px;
    margin: 3px 0px 0px 5px;
    background-position: 0 0 !important;
    width: 60px;
    height: 40px;
    background-image: url("../imgs/printer.png") !important;
}

.img-button-edtusr {
    background-image: url("../imgs/editaSenhaUsuario.png") !important;
}

.ui-icon.ReuseIcon {
    background-image: url("../imgs/arrow_refresh.png") !important;
}